<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=506&aspectRatio=2.00&format=jpeg"
         alt="" height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit tellus
      non mi venenatis condimentum. Nulla vel justo venenatis, tincidunt tellus facilisis,
      maximus diam. Aliquam a nisi ut nibh venenatis rhoncus in ut odio. In faucibus, ligula et
      volutpat pharetra, velit nisl eleifend elit, a maximus lectus lorem mattis elit. Phasellus
      posuere sapien eu lorem rhoncus venenatis. Phasellus at pulvinar turpis.
      </a>
    </p>
  </div>
</div>
